#welcome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background: rgb(9, 196, 109);
  color: black;
  cursor: pointer;
}

.item {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
